<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='_popup.css') }}">

<button class="open-button" onclick="openForm()" style="border-radius: 50%; border: 2px solid #393E46; width: 80px; height: 80px">
  <img src="/static/images/pencil.png" style="height: 30px; width: 30px;">
</button>

<div class="form-popup" id="myForm">
  <div class="top-bar">
  	<div style="float:left">
  		<span style="padding-left: 15px">Rapid Feedback</span>	
  	</div>
  	<div style="float: right">
  		<div class="closebtn" onclick="closeForm()">&times;</div>
  	</div>
  </div>
  <form action="/" class="form-container">
    <input id="rr-list" type="text" list="students-list" placeholder="To" name="target" autocomplete="on" required>
    <datalist id="students-list">
      {% for student in students if student != current_user.name %}
          <option>{{student}}</option>
      {% endfor %}
    </datalist>
    <textarea id="rr-comment" placeholder="Type feedback..." name="msg" required></textarea>
    <button id="rr-button" type="submit" class="btn">Submit</button>
  </form>
</div>

<script>
$( "button#rr-button" ).click(function() {
    var teamlist = {{ teamlist | tojson}};
    
    var givenBy = String({{current_user.name | tojson }});
    var projectNum = parseInt(0);
    var givenTo = String($('#rr-list').val());
    var commentText = String($('#rr-comment').val());
    
    $.post('/submitcomment', {
            givenBy: givenBy,
            givenTo: givenTo,
            projectNum: projectNum,
            commentText: commentText
        }).done(function(response) {
          if (response['response'] == 'Success') {
            alert('Comment Submitted!')
            closeForm()
          } else if (response['response'] == 'Invalid Target') {
            alert('Please make sure you have entered a valid name.')
          } else if (response['response'] == 'Self-Review') {
            alert("Nice try.")
          }
        }).fail(function() {
            console.log('ERROR')
        });
  });

function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>