{% extends 'layout.html' %}

{% block body %}
<div style="margin: 20px; margin-top: 0; margin-left: 0">
	<h1 style="margin: 0; padding: 0; font-family: 'Helvetica Neue'; display: inline-block;">Extra Credit Video</h1>
	<button type="submit" class="btn" style="width: auto; min-height: 40px; vertical-align: middle; float: right; background-color: #FFF4E0;  box-shadow: -0px 0px 50px rgba(200, 200, 200, 1);" onclick="redirectToForms();">Answer Quiz</button>
</div>
<iframe style="width: 100%; min-height: 500px" src="https://www.youtube.com/embed/IRVdiHu1VCc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<script type="text/javascript">
	function redirectToForms() {
		$('iframe').attr('src', 'https://docs.google.com/forms/d/e/1FAIpQLScLbD5J_92qTrT14X99WCJnZqpY4-jCviAHGpXrjKxgqv__bA/viewform?usp=sf_link')	
	}
</script>
<style type="text/css">
	.btn {
		opacity: 0.7;
	}

	.btn:hover {
		opacity: 1;
	}
</style>
{% endblock %}