{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center" style="width: 100%; height: auto; position: sticky; position: -webkit-sticky; top: 0; z-index:1; align-content: center; box-shadow: -0px 0px 50px rgba(200, 200, 200, 1); background: linear-gradient(to right bottom, #00ADB5, #FFF4E0); background: linear-gradient(to right bottom, #648880, #293f50); background: -webkit-linear-gradient(to right bottom, #648880, #293f50); background: -moz-linear-gradient(to right bottom, #648880, #293f50);">
	<h1 style="color: #FFF4E0; font-size: 30px; margin: 0; padding: 0;">Feedback Form</h1>
	<cite class="lead" style="color: #00ADB5;">&quot;We all need people who will give us feedback. That’s how we improve.&quot; - Bill Gates</cite>
</div>
<form class="main-form" style="margin-bottom: 200px">
	<div class="btn-container" style="display: -webkit-flex; -webkit-flex-flow: row; display: flex; flex-flow: row; width: 100%; height: 10%; justify-content: space-between; margin: 5px 0px;">
		<select onchange="loadMembers(this)" id="project-select" type="text" list="project-list" required style="background-color: transparent; border-radius: 5px; border: 2px solid #ccc; width: 20%; height: 50px; line-height: 100px; margin: 0;">
			<option value="" selected disabled hidden>Choose Project</option>
			{% for teams in teamlist %}
		    	<option value="{{loop.index}}">Project {{loop.index}}</option>
		    {% endfor %}
	    </select>
	    <select onchange="loadQuestions(this)" id="teammate-list" type="text" list="teammate-list" required style="background-color: transparent; border-radius: 5px; border: 2px solid #ccc; width: 79%; height: 50px; line-height: 100px; margin: 0;">
		    <option class="default-team-member" value="" selected disabled hidden>Please Choose Project First</option>
	    </select>
	</div>
	{% if current_user.admin %}
	{% endif %}
	<div id="questionnaire" style="display: -webkit-flex; -webkit-flex-flow: column; display: flex; flex-flow: column; width: calc(100%-5px); height: auto; justify-content: flex-start; align-items: flex-start; margin: 5px 0px; border: 2px solid #bbb; border-radius: 5px;">
		  {% for category, attributes in info.items() %}
		  	{% set rowloop = loop %}
		  	{% for attribute in attributes %}
			  	{% if ((rowloop.index-1)*3+loop.index) is divisibleby 2 %}
			  	<div style="width:100%; margin: 1px 0px; background-color: #fefefe;">
	  			{% else %}
	  			<div style="width:100%; margin: 1px 0px; background-color: #FFF4E0;">
	  			{% endif %}
		  			<fieldset class="rate" id="question-{{((rowloop.index-1)*3+loop.index)}}" style="float: right; margin: 10px 30px">
					    <input type="radio" id="rating10-{{((rowloop.index-1)*3+loop.index)}}" required value="10" name="group-{{((rowloop.index-1)*3+loop.index)}}" /><label for="rating10-{{((rowloop.index-1)*3+loop.index)}}" title="5 stars"></label>
					    <input type="radio" id="rating9-{{((rowloop.index-1)*3+loop.index)}}" value="9" name="group-{{((rowloop.index-1)*3+loop.index)}}" /><label class="half" for="rating9-{{((rowloop.index-1)*3+loop.index)}}" title="4 1/2 stars"></label>
					    <input type="radio" id="rating8-{{((rowloop.index-1)*3+loop.index)}}" value="8" name="group-{{((rowloop.index-1)*3+loop.index)}}" /><label for="rating8-{{((rowloop.index-1)*3+loop.index)}}" title="4 stars"></label>
					    <input type="radio" id="rating7-{{((rowloop.index-1)*3+loop.index)}}" value="7" name="group-{{((rowloop.index-1)*3+loop.index)}}" /><label class="half" for="rating7-{{((rowloop.index-1)*3+loop.index)}}" title="3 1/2 stars"></label>
					    <input type="radio" id="rating6-{{((rowloop.index-1)*3+loop.index)}}" value="6" name="group-{{((rowloop.index-1)*3+loop.index)}}" /><label for="rating6-{{((rowloop.index-1)*3+loop.index)}}" title="3 stars"></label>
					    <input type="radio" id="rating5-{{((rowloop.index-1)*3+loop.index)}}" value="5" name="group-{{((rowloop.index-1)*3+loop.index)}}" /><label class="half" for="rating5-{{((rowloop.index-1)*3+loop.index)}}" title="2 1/2 stars"></label>
					    <input type="radio" id="rating4-{{((rowloop.index-1)*3+loop.index)}}" value="4" name="group-{{((rowloop.index-1)*3+loop.index)}}" /><label for="rating4-{{((rowloop.index-1)*3+loop.index)}}" title="2 stars"></label>
					    <input type="radio" id="rating3-{{((rowloop.index-1)*3+loop.index)}}" value="3" name="group-{{((rowloop.index-1)*3+loop.index)}}" /><label class="half" for="rating3-{{((rowloop.index-1)*3+loop.index)}}" title="1 1/2 stars"></label>
					    <input type="radio" id="rating2-{{((rowloop.index-1)*3+loop.index)}}" value="2" name="group-{{((rowloop.index-1)*3+loop.index)}}" /><label for="rating2-{{((rowloop.index-1)*3+loop.index)}}" title="1 star"></label>
					    <input type="radio" id="rating1-{{((rowloop.index-1)*3+loop.index)}}" value="1" name="group-{{((rowloop.index-1)*3+loop.index)}}" /><label class="half" for="rating1-{{((rowloop.index-1)*3+loop.index)}}" title="1/2 star"></label>
					</fieldset>
	  				<span style="width: 75%; margin: 20px 0px; padding-left: 20px">
	  					{{ attribute.split(':')[-1].strip('"') }}
	  				</span>
				</div>
		  	{% endfor %}
		  {% endfor %}
	</div>

	<div id="open-ended" style="width: 100%; height: 50px; margin: 5px 0px; margin-bottom: 20px; justify-content: space-between;">
		<textarea id="feedback" placeholder="Type feedback..." name="msg" required style="background-color: transparent; border-radius: 5px; border: 2px solid #ccc; width: 89%; min-height: 100px; padding: 15px; display:inline-block;"></textarea>
		<button id="submit-button" type="submit" class="btn" style="width: 10%; min-height: 100px; vertical-align: middle; float: right; background-color: #FFF4E0;  box-shadow: -0px 0px 50px rgba(200, 200, 200, 1);">Submit</button>
	</div>
</form>
<style type="text/css">
	#submit-button {
		opacity: 0.7;
	}

	#submit-button:hover {
		opacity: 1;
	}
</style>
<script type="text/javascript">
	$('#questionnaire').hide();
	$('#open-ended').hide();
	
	$( "#submit-button" ).click(function() {
	  var teamlist = {{ teamlist | tojson}};
	  var givenBy = String({{current_user.name | tojson }});
	  var projectNum = parseInt($('#project-select option:selected').val());
	  var teamNum = parseInt(teamlist[projectNum]['team_num']);
	  var givenTo = String($('#teammate-list option:selected').val());
	  var commentText = String($('#feedback').val());
	  let lowest = 10
	  var ratings = {};
		for (let i = 0; i < 15; i++){
			let group = 'input[name="group-' + String(i+1) + '"]:checked'
			let id = 'q' + String(i+1)
			let radioValue = 0
			if (!isNaN($(group).val())) {
				radioValue = parseFloat($(group).val());
			}
			if (radioValue < lowest) {
				lowest = radioValue
			}
			ratings[id] = radioValue
		}

		if (lowest <= 4 && lowest > 0 && commentText) {
			if (confirm("You gave at least 1 rating of 2 stars or less. Are you sure?")) {
				$.post('/submitform', {
	            givenBy: givenBy,
	            givenTo: givenTo,
	            projectNum: projectNum,
	            teamNum: teamNum,
	            ratings: ratings,
	            commentText: commentText
	        }).done(function(response) {
	        	if (response['response'] == 'Success'){
	        		alert('Feedback Submitted!')
		        	$('form.main-form')[0].reset();
		        	$('#questionnaire').hide()	
	        	} else if (response['response'] == 'Invalid'){
	        	} else if (response['response'] == 'Duplicate Submission') {
	        		alert('Submission not allowed - You have previously submitted this feedback.')
	        	} else {
	        		alert(String(response['response']))
	        	}
	        }).fail(function() {
	            console.log('ERROR')
	        });
			} else {
				return false
			}
		} else {
			$.post('/submitform', {
	            givenBy: givenBy,
	            givenTo: givenTo,
	            projectNum: projectNum,
	            teamNum: teamNum,
	            ratings: ratings,
	            commentText: commentText
	        }).done(function(response) {
	        	if (response['response'] == 'Success'){
	        		alert('Feedback Submitted!')
		        	$('form.main-form')[0].reset();
		        	$('#questionnaire').hide()	
	        	} else if (response['response'] == 'Invalid'){
	        	} else if (response['response'] == 'Duplicate Submission') {
	        		alert('Submission not allowed - You have previously submitted this feedback.')
	        	} else {
	        		alert(String(response['response']))
	        	}
	        }).fail(function() {
	            console.log('ERROR')
	        });
		}
	});
	
	function loadMembers(selectObject) {
        var teamlist = {{ teamlist | tojson}};
        var project_num = String(selectObject.value);
        var replace = '<option class="default-team-member" value="" selected disabled hidden>Choose Team Member</option>'
		$('#teammate-list').html(replace)
		$('#questionnaire').hide()
		$('#open-ended').hide()
        for (let i = 0; i < teamlist[project_num]['members'].length; i++) {
        	if (teamlist[project_num]['members'][i] == String({{current_user.name | tojson }})) {
        		continue
        	}
        	let option = '<option value="' + teamlist[project_num]['members'][i] + '">' + teamlist[project_num]['members'][i] + '</option>'
        	$('#teammate-list').append(option)
        }
    };
    function loadQuestions(selectObject) {
        var chosen_member = String(selectObject.value);
        if (chosen_member != "") {
        	$('#questionnaire').show()
        	$('#open-ended').show();
        } else {
        	$('#questionnaire').hide()
        	$('#open-ended').hide();
        }
    };
</script>
{% endblock %}