{% extends 'layout.html' %}

{% block body %}
<form>
	<div style="display: -webkit-flex; -webkit-flex-flow: row wrap; display: flex; flex-flow: row wrap; height: auto; width: 100%; justify-content: space-around; align-content: center; margin-bottom: 20px">
		<div style="display: -webkit-flex; -webkit-flex-flow: column; display: flex; flex-flow: column; border-radius: 10px; height: 280px; width: 190px; box-shadow: -0px 0px 50px rgba(200, 200, 200, 1); background: linear-gradient(to right bottom, #FFF4E0 5%, #E8E8EE); background: -webkit-linear-gradient(to right bottom, #FFF4E0 5%, #E8E8EE); background: -moz-linear-gradient(to right bottom, #FFF4E0 5%, #E8E8EE); justify-content: center; align-items: center; margin-bottom: 15px" class="attribute-card">
			<img src="/static/images/work_ethic.png" style="height: 120px; width: 120px; padding: 15px">
			<span style="font-family: helvetica"> 
				<h1 style="color: #393E46; text-align: center; font-size: 20px;">
					Work Ethic
				</h1>
				<fieldset class="rate" id="work-ethic">
				    <input type="radio" id="rating10a" required value="10" name="group-a" /><label for="rating10a" title="5 stars"></label>
				    <input type="radio" id="rating9a" required value="9" name="group-a" /><label class="half" for="rating9a" title="4 1/2 stars"></label>
				    <input type="radio" id="rating8a" required value="8" name="group-a" /><label for="rating8a" title="4 stars"></label>
				    <input type="radio" id="rating7a" required value="7" name="group-a" /><label class="half" for="rating7a" title="3 1/2 stars"></label>
				    <input type="radio" id="rating6a" required value="6" name="group-a" /><label for="rating6a" title="3 stars"></label>
				    <input type="radio" id="rating5a" required value="5" name="group-a" /><label class="half" for="rating5a" title="2 1/2 stars"></label>
				    <input type="radio" id="rating4a" required value="4" name="group-a" /><label for="rating4a" title="2 stars"></label>
				    <input type="radio" id="rating3a" required value="3" name="group-a" /><label class="half" for="rating3a" title="1 1/2 stars"></label>
				    <input type="radio" id="rating2a" required value="2" name="group-a" /><label for="rating2a" title="1 star"></label>
				    <input type="radio" id="rating1a" required value="1" name="group-a" /><label class="half" for="rating1a" title="1/2 star"></label>
				</fieldset>
			</span>
		</div>
		<div style="display: -webkit-flex; -webkit-flex-flow: column; display: flex; flex-flow: column; border-radius: 10px; height: 280px; width: 190px; box-shadow: -0px 0px 50px rgba(200, 200, 200, 1); background: linear-gradient(to right bottom, #FFF4E0 5%, #CACFE2); background: -webkit-linear-gradient(to right bottom, #FFF4E0 5%, #CACFE2); background: -moz-linear-gradient(to right bottom, #FFF4E0 5%, #CACFE2); justify-content: center; align-items: center; margin-bottom: 15px" class="attribute-card">
			<img src="/static/images/team_effectiveness.png" style="height: 120px; width: 120px; padding: 15px">
			<span style="font-family: helvetica; text-align: center"> 
				<h1 style="color: #393E46; text-align: center; font-size: 20px;">
					Team Effectiveness
				</h1>
				<fieldset class="rate" id="team-effectiveness">
				    <input type="radio" id="rating10b" required value="10" name="group-b" /><label for="rating10b" title="5 stars" name="group-b"></label>
				    <input type="radio" id="rating9b" required value="9" name="group-b" /><label class="half" for="rating9b" title="4 1/2 stars" name="group-b"></label>
				    <input type="radio" id="rating8b" required value="8" name="group-b" /><label for="rating8b" title="4 stars" name="group-b"></label>
				    <input type="radio" id="rating7b" required value="7" name="group-b" /><label class="half" for="rating7b" title="3 1/2 stars" name="group-b"></label>
				    <input type="radio" id="rating6b" required value="6" name="group-b" /><label for="rating6b" title="3 stars" name="group-b"></label>
				    <input type="radio" id="rating5b" required value="5" name="group-b" /><label class="half" for="rating5b" title="2 1/2 stars" name="group-b"></label>
				    <input type="radio" id="rating4b" required value="4" name="group-b" /><label for="rating4b" title="2 stars" name="group-b"></label>
				    <input type="radio" id="rating3b" required value="3" name="group-b" /><label class="half" for="rating3b" title="1 1/2 stars" name="group-b"></label>
				    <input type="radio" id="rating2b" required value="2" name="group-b" /><label for="rating2b" title="1 star" name="group-b"></label>
				    <input type="radio" id="rating1b" required value="1" name="group-b" /><label class="half" for="rating1b" title="1/2 star" name="group-b"></label>
				</fieldset>
			</span>
		</div>
		<div style="display: -webkit-flex; -webkit-flex-flow: column; display: flex; flex-flow: column; border-radius: 10px; height: 280px; width: 190px; box-shadow: -0px 0px 50px rgba(200, 200, 200, 1); background: linear-gradient(to right bottom, #FFF4E0 5%, #D7D4E5); background: -webkit-linear-gradient(to right bottom, #FFF4E0 5%, #D7D4E5); background: -moz-linear-gradient(to right bottom, #FFF4E0 5%, #D7D4E5); justify-content: center; align-items: center; margin-bottom: 15px" class="attribute-card">
			<img src="/static/images/thinking_skills.png" style="height: 120px; width: 120px; padding: 15px">
			<span style="font-family: helvetica; text-align: center"> 
				<h1 style="color: #393E46; text-align: center; font-size: 20px">
					Thinking Skills
				</h1>
				<fieldset class="rate" id="thinking-skills">
				    <input type="radio" id="rating10c" required value="10" name="group-c"/><label for="rating10c" title="5 stars"></label>
				    <input type="radio" id="rating9c" required value="9" name="group-c"/><label class="half" for="rating9c" title="4 1/2 stars"></label>
				    <input type="radio" id="rating8c" required value="8" name="group-c"/><label for="rating8c" title="4 stars"></label>
				    <input type="radio" id="rating7c" required value="7" name="group-c"/><label class="half" for="rating7c" title="3 1/2 stars"></label>
				    <input type="radio" id="rating6c" required value="6" name="group-c"/><label for="rating6c" title="3 stars"></label>
				    <input type="radio" id="rating5c" required value="5" name="group-c"/><label class="half" for="rating5c" title="2 1/2 stars"></label>
				    <input type="radio" id="rating4c" required value="4" name="group-c"/><label for="rating4c" title="2 stars"></label>
				    <input type="radio" id="rating3c" required value="3" name="group-c"/><label class="half" for="rating3c" title="1 1/2 stars"></label>
				    <input type="radio" id="rating2c" required value="2" name="group-c"/><label for="rating2c" title="1 star"></label>
				    <input type="radio" id="rating1c" required value="1" name="group-c"/><label class="half" for="rating1c" title="1/2 star"></label>
				</fieldset>
			</span>
		</div>
		<div style="display: -webkit-flex; -webkit-flex-flow: column; display: flex; flex-flow: column; border-radius: 10px; height: 280px; width: 190px; box-shadow: -0px 0px 50px rgba(200, 200, 200, 1); background: linear-gradient(to right bottom, #FFF4E0 5%, #8E9FBB); background: -webkit-linear-gradient(to right bottom, #FFF4E0 5%, #8E9FBB); background: -moz-linear-gradient(to right bottom, #FFF4E0 5%, #8E9FBB); justify-content: center; align-items: center; margin-bottom: 15px" class="attribute-card">
			<img src="/static/images/competence.png" style="height: 120px; width: 120px; padding: 15px">
			<span style="font-family: helvetica; text-align: center"> 
				<h1 style="color: #393E46; text-align: center; font-size: 20px">
					Competence
				</h1>
				<fieldset class="rate" id="competence">
				    <input type="radio" id="rating10d" required value="10" name="group-d"/><label for="rating10d" title="5 stars"></label>
				    <input type="radio" id="rating9d" required value="9" name="group-d"/><label class="half" for="rating9d" title="4 1/2 stars"></label>
				    <input type="radio" id="rating8d" required value="8" name="group-d"/><label for="rating8d" title="4 stars"></label>
				    <input type="radio" id="rating7d" required value="7" name="group-d"/><label class="half" for="rating7d" title="3 1/2 stars"></label>
				    <input type="radio" id="rating6d" required value="6" name="group-d"/><label for="rating6d" title="3 stars"></label>
				    <input type="radio" id="rating5d" required value="5" name="group-d"/><label class="half" for="rating5d" title="2 1/2 stars"></label>
				    <input type="radio" id="rating4d" required value="4" name="group-d"/><label for="rating4d" title="2 stars"></label>
				    <input type="radio" id="rating3d" required value="3" name="group-d"/><label class="half" for="rating3d" title="1 1/2 stars"></label>
				    <input type="radio" id="rating2d" required value="2" name="group-d"/><label for="rating2d" title="1 star"></label>
				    <input type="radio" id="rating1d" required value="1" name="group-d"/><label class="half" for="rating1d" title="1/2 star"></label>
				</fieldset>
			</span>
		</div>
		<div style="display: -webkit-flex; -webkit-flex-flow: column; display: flex; flex-flow: column; border-radius: 10px; height: 280px; width: 190px; box-shadow: -0px 0px 50px rgba(200, 200, 200, 1); background: linear-gradient(to right bottom, #FFF4E0 5%, #475069); background: -webkit-linear-gradient(to right bottom, #FFF4E0 5%, #475069); background: -moz-linear-gradient(to right bottom, #FFF4E0 5%, #475069); justify-content: center; align-items: center; margin-bottom: 15px" class="attribute-card">
			<img src="/static/images/presence.png" style="height: 120px; width: 120px; padding: 15px">
			<span style="font-family: helvetica; text-align: center"> 
				<h1 style="color: #393E46; text-align: center; font-size: 20px">
					Presence
				</h1>
				<fieldset class="rate" id="presence">
				    <input type="radio" id="rating10e" required value="10" name="group-e"/><label for="rating10e" title="5 stars"></label>
				    <input type="radio" id="rating9e" required value="9" name="group-e"/><label class="half" for="rating9e" title="4 1/2 stars"></label>
				    <input type="radio" id="rating8e" required value="8" name="group-e"/><label for="rating8e" title="4 stars"></label>
				    <input type="radio" id="rating7e" required value="7" name="group-e"/><label class="half" for="rating7e" title="3 1/2 stars"></label>
				    <input type="radio" id="rating6e" required value="6" name="group-e"/><label for="rating6e" title="3 stars"></label>
				    <input type="radio" id="rating5e" required value="5" name="group-e"/><label class="half" for="rating5e" title="2 1/2 stars"></label>
				    <input type="radio" id="rating4e" required value="4" name="group-e"/><label for="rating4e" title="2 stars"></label>
				    <input type="radio" id="rating3e" required value="3" name="group-e"/><label class="half" for="rating3e" title="1 1/2 stars"></label>
				    <input type="radio" id="rating2e" required value="2" name="group-e"/><label for="rating2e" title="1 star"></label>
				    <input type="radio" id="rating1e" required value="1" name="group-e"/><label class="half" for="rating1e" title="1/2 star"></label>
				</fieldset>
			</span>
		</div>
	</div>
</form>
	<div style="display: -webkit-flex; -webkit-flex-flow: column; display: flex; flex-flow: column; width: 100%; height: auto; justify-content: flex-start; align-items: flex-start; margin-bottom: 100px">
		<table style="width:100%; border-radius: 10px; border-collapse: collapse;" border="1px solid #efefef">
		  <tr>
		    <th>Category</th>
		    <th>Attributes</th> 
		    <th>Description</th>
		  </tr>
		  {% for category, attributes in info.items() %}
		  	<tr>
		  		<td class="category" rowspan="3">{{ category }}</td>
		  		<td>{{ attributes[0].split(':')[0].strip('"') }}</td>
		  		<td>{{ attributes[0].split(':')[-1].strip('"') }}</td>
		  	</tr>
		  	{% for attribute in attributes %}
		  		{%- if loop.index == 1 %}{% continue %}{% endif %}
			    <tr>
			    	<td>{{ attributes[loop.index - 1].split(':')[0].strip('"') }}</td>
		  			<td>{{ attributes[loop.index -1].split(':')[-1].strip('"') }}</td>
			    </tr>
		  	{% endfor %}
		  {% endfor %}
		</table>
	</div>
	<style>
		table {
			border-radius: 10px
		}
		th, td {
		  padding: 5px;
		  /*background-color: #efefef;*/
		}
		td.category {
			text-align: center;
		}
		.btn-container .btn {
			opacity: 0.8;
		}
		.btn-container .btn:hover {
			opacity: 1;
		}

		/*.attribute-card:hover {
			border: 2px solid #F8B500;
		}*/
	</style>
{% endblock %}