{% extends 'layout.html' %}

{% block body %}
	<div>
		<div class="jumbotron text-center" style="width: 100%; height: auto; position: sticky; position: -webkit-sticky; top: 0; z-index:1; align-content: center; box-shadow: -0px 0px 50px rgba(200, 200, 200, 1); background: linear-gradient(to right bottom, #648880, #293f50); background: -webkit-linear-gradient(to right bottom, #648880, #293f50); background: -moz-linear-gradient(to right bottom, #648880, #293f50);">
			<h1 style="color: #FFF4E0; font-size: 30px; margin: 0; padding: 0; margin-bottom: 10px">Power Rankings</h1>
			<cite class="lead" style="color: #00ADB5;">&quot;To be the best leadership course ever taught in UC Berkeley.&quot; - Stephen Torres</cite>
		</div>
		<div id="loading-gif" style="width: 100%; text-align: center;">
			<img src='{{ url_for("static", filename="images/loading.gif") }}' style="margin-top: 100px; height: 150px">
		</div>
		<div id="leaderboard" style="display: -webkit-flex; -webkit-flex-flow: row wrap; display: flex; flex-flow: row wrap; height: 100%; width: 100%; justify-content: space-evenly; margin-bottom: 100px">
			{% for student in students %}
			<div class="flip-card" id="flip-card-{{loop.index}}" style="visibility: hidden;">
			<a id="profile-url-{{loop.index}}" href="" style="text-decoration: none">
				<div id="flip-card-inner-{{loop.index}}" class="flip-card-inner" style="border-radius: 10px; height: 300px; width: 200px; margin: 4px; margin: 20px; box-shadow: -0px 0px 50px rgba(200, 200, 200, 1); position: relative; ">
						<div class="flip-card-front" id="flip-card-front-{{loop.index}}" style="border-radius: 6px; background-color: #f5f5f5; height: auto">
							<div class="student-name" style="display: -webkit-flex; -webkit-flex-flow: row wrap; display: flex; flex-flow: row wrap; background-color: #393E46; height: 25%; top: 0px; border-top-right-radius: 6px; border-top-left-radius: 6px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; border: 1px #FFF; justify-content: center; align-items: center;">
								<h3 id="student-name-{{loop.index}}" style="font-family: helvetica; font-size: 100%; line-height: 100%; color: #00ADB5; margin-bottom: 40px; text-align: center;"></h3>
							</div>
					        <img id="flip-card-avatar-{{loop.index}}" src="/static/images/placeholder.png" style="height: 60px; width: 60px; position: absolute; top: 14%; margin-right: 35%;margin-left: 35%; border-radius: 50px">
							<div style="background: linear-gradient(to right bottom, #648880 30%, #293f50); background: -webkit-linear-gradient(to right bottom, #648880, #293f50); background: -moz-linear-gradient(to right bottom, #648880 20%, #293f50); border-radius: 50%; height: 40px; width: 40px; border: 1.5px solid #FFF4E0; position: absolute; top: -15px; left: -20px; box-shadow: -0px 0px 10px rgba(100, 100, 100, 0.5);">
								<p style="font-family: helvetica neue; color: #FFF4E0; text-align: center; height: 100%; line-height: 100%; margin: 0; font-size: 20px; padding-top: 8px; vertical-align: middle; ">
									<i>{{loop.index}}</i>
								</p>
							</div>
							<div style="display: -webkit-flex; -webkit-flex-flow: column; display: flex; flex-flow: column; justify-content: space-around; padding-top: 30px; padding-bottom: 10px">
								<div id='work-ethic-score' style="padding: 3px; padding-left: 20px">
									<img src="/static/images/work_ethic.png" style="height: 15%; width: 15%; padding: 2px;">	
									<span class="score" style="margin-left: 15px;">
										<label id="rating10-workEthic-{{ loop.index }}" title="5 stars"></label>
										<label class="half" id="rating9-workEthic-{{ loop.index }}" title="4.5 stars"></label>
										<label id="rating8-workEthic-{{ loop.index }}" title="4 stars"></label>
										<label class="half" id="rating7-workEthic-{{ loop.index }}" title="3.5 stars"></label>
										<label id="rating6-workEthic-{{ loop.index }}" title="3 stars"></label>
										<label class="half" id="rating5-workEthic-{{ loop.index }}" title="2.5 stars"></label>
										<label id="rating4-workEthic-{{ loop.index }}" title="2 stars"></label>
										<label class="half" id="rating3-workEthic-{{ loop.index }}" title="1.5 stars"></label>
										<label id="rating2-workEthic-{{ loop.index }}" title="1 stars"></label>
										<label class="half" id="rating1-workEthic-{{ loop.index }}" title="0.5 stars"></label>
									</span>
								</div>
								<div id='team-effectiveness-score' style="padding: 3px; padding-left: 20px">
									<img src="/static/images/team_effectiveness.png" style="height: 15%; width: 15%; padding: 2px;">
									<span class="score" style="margin-left: 15px;">
										<label id="rating10-teamEffectiveness-{{ loop.index }}" title="5 stars"></label>
										<label class="half" id="rating9-teamEffectiveness-{{ loop.index }}" title="4.5 stars"></label>
										<label id="rating8-teamEffectiveness-{{ loop.index }}" title="4 stars"></label>
										<label class="half" id="rating7-teamEffectiveness-{{ loop.index }}" title="3.5 stars"></label>
										<label id="rating6-teamEffectiveness-{{ loop.index }}" title="3 stars"></label>
										<label class="half" id="rating5-teamEffectiveness-{{ loop.index }}" title="2.5 stars"></label>
										<label id="rating4-teamEffectiveness-{{ loop.index }}" title="2 stars"></label>
										<label class="half" id="rating3-teamEffectiveness-{{ loop.index }}" title="1.5 stars"></label>
										<label id="rating2-teamEffectiveness-{{ loop.index }}" title="1 stars"></label>
										<label class="half" id="rating1-teamEffectiveness-{{ loop.index }}" title="0.5 stars"></label>
									</span>
								</div>
								<div id="thinking-skills-score" style="padding: 3px; padding-left: 20px">
									<img src="/static/images/thinking_skills.png" style="height: 15%; width: 15%; padding: 2px;">
									<span class="score" style="margin-left: 15px;">
										<label id="rating10-thinkingSkills-{{ loop.index }}" title="5 stars"></label>
										<label class="half" id="rating9-thinkingSkills-{{ loop.index }}" title="4.5 stars"></label>
										<label id="rating8-thinkingSkills-{{ loop.index }}" title="4 stars"></label>
										<label class="half" id="rating7-thinkingSkills-{{ loop.index }}" title="3.5 stars"></label>
										<label id="rating6-thinkingSkills-{{ loop.index }}" title="3 stars"></label>
										<label class="half" id="rating5-thinkingSkills-{{ loop.index }}" title="2.5 stars"></label>
										<label id="rating4-thinkingSkills-{{ loop.index }}" title="2 stars"></label>
										<label class="half" id="rating3-thinkingSkills-{{ loop.index }}" title="1.5 stars"></label>
										<label id="rating2-thinkingSkills-{{ loop.index }}" title="1 stars"></label>
										<label class="half" id="rating1-thinkingSkills-{{ loop.index }}" title="0.5 stars"></label>
									</span>
								</div>
								<div id="competence" style="padding: 3px; padding-left: 20px">
									<img src="/static/images/competence.png" style="height: 15%; width: 15%; padding: 2px;">
									<span class="score" style="margin-left: 15px;">
										<label id="rating10-competence-{{ loop.index }}" title="5 stars"></label>
										<label class="half" id="rating9-competence-{{ loop.index }}" title="4.5 stars"></label>
										<label id="rating8-competence-{{ loop.index }}" title="4 stars"></label>
										<label class="half" id="rating7-competence-{{ loop.index }}" title="3.5 stars"></label>
										<label id="rating6-competence-{{ loop.index }}" title="3 stars"></label>
										<label class="half" id="rating5-competence-{{ loop.index }}" title="2.5 stars"></label>
										<label id="rating4-competence-{{ loop.index }}" title="2 stars"></label>
										<label class="half" id="rating3-competence-{{ loop.index }}" title="1.5 stars"></label>
										<label id="rating2-competence-{{ loop.index }}" title="1 stars"></label>
										<label class="half" id="rating1-competence-{{ loop.index }}" title="0.5 stars"></label>
									</span>
								</div>
								<div id="presence" style="padding: 3px; padding-left: 20px">
									<img src="/static/images/presence.png" style="height: 15%; width: 15%; padding: 2px;">
									<span class="score" style="margin-left: 15px;">
										<label id="rating10-presence-{{ loop.index }}" title="5 stars"></label>
										<label class="half" id="rating9-presence-{{ loop.index }}" title="4.5 stars"></label>
										<label id="rating8-presence-{{ loop.index }}" title="4 stars"></label>
										<label class="half" id="rating7-presence-{{ loop.index }}" title="3.5 stars"></label>
										<label id="rating6-presence-{{ loop.index }}" title="3 stars"></label>
										<label class="half" id="rating5-presence-{{ loop.index }}" title="2.5 stars"></label>
										<label id="rating4-presence-{{ loop.index }}" title="2 stars"></label>
										<label class="half" id="rating3-presence-{{ loop.index }}" title="1.5 stars"></label>
										<label id="rating2-presence-{{ loop.index }}" title="1 stars"></label>
										<label class="half" id="rating1-presence-{{ loop.index }}" title="0.5 stars"></label>
									</span>
								</div>
							</div>
						</div>
						<div class="flip-card-back" id="flip-card-back-{{loop.index}}" style="background-color: #f5f5f5">
							<div id="student-grade-{{ loop.index }}" style="padding: 15px; text-align: center; line-height: 100%; vertical-align: middle; padding-top: 90px; padding-left: 30px; font-family: 'Helvetica Neue'; font-size: 100px; font-style: italic; color: #F8B500;">
							</div>
					    </div>
				</div>
			</a>
			</div>
			{% endfor %}
		</div>
	</div>
<script type="text/javascript">
	$(function() {
		$.get('/getranking').done(function(response) {
			$("#loading-gif").remove()
			$(".flip-card").css("visibility", "")
			for (let i = 0; i < response['ranked_list'].length; i++) { 
				let counter = i + 1
				let student = response['ranked_list'][i]['name']
				let ratings = response['ranked_list'][i]['ratings']
				$("#student-name-" + (counter)).text(student)
				let db = {{users_db | tojson}}
				let newArray = db.filter(function (el) {
				  return el.name == student
				});
				let query = '#student-grade-' + String(counter)
				$(query).html(ratings['grade'])

				let query2 = '#profile-url-' + String(counter)

				let url = '/profile/' + student.replace(/ /g, '')
				$(query2).attr('href', url)

				if (newArray.length > 0 && newArray != null) {
					$("#flip-card-avatar-" + (counter)).attr("src", newArray[0]['avatar'])
				};
				for (let j = 0; j <= ratings['workEthic']; j++) {
					let query = '.score > label#rating' + String(j) + '-workEthic-' + String(counter)
					$(query).css({'color': '#F8B500'});
				};
				for (let j = 0; j <= ratings['teamEffectiveness']; j++) {
					let query = '.score > label#rating' + String(j) + '-teamEffectiveness-' + String(counter)
					$(query).css({'color': '#F8B500'});
				};
				for (let j = 0; j <= ratings['thinkingSkills']; j++) {
					let query = '.score > label#rating' + String(j) + '-thinkingSkills-' + String(counter)
					$(query).css({'color': '#F8B500'});
				};
				for (let j = 0; j <= ratings['competence']; j++) {
					let query = '.score > label#rating' + String(j) + '-competence-' + String(counter)
					$(query).css({'color': '#F8B500'});
				};
				for (let j = 0; j <= ratings['presence']; j++) {
					let query = '.score > label#rating' + String(j) + '-presence-' + String(counter)
					$(query).css({'color': '#F8B500'});
				};
			}
        }).fail(function() {
            $("#leaderboard").text("Error: Failed to generate rankings");
        });
	});
</script>
{% endblock %}