{% extends 'layout.html' %}

{% block body %}
	<div>
		<div class="jumbotron text-center" style="width: 100%; height: auto; position: sticky; position: -webkit-sticky; top: 0; z-index:1; align-content: center; box-shadow: -0px 0px 50px rgba(200, 200, 200, 1); background: linear-gradient(to right bottom, #648880, #293f50); background: -webkit-linear-gradient(to right bottom, #648880, #293f50); background: -moz-linear-gradient(to right bottom, #648880, #293f50);">
			<h1 style="color: #FFF4E0; font-size: 30px; margin: 0; padding: 0; margin-bottom: 10px">Power Rankings</h1>
			<cite class="lead" style="color: #00ADB5;">&quot;To be the best leadership course ever taught in UC Berkeley.&quot; - Stephen Torres</cite>
			{% if current_user.admin %}
			{% endif %}
		</div>
		<div style="display: -webkit-flex; -webkit-flex-flow: row wrap; display: flex; flex-flow: row wrap; height: 100%; width: 100%; justify-content: space-evenly; margin-bottom: 100px">
			{% for student in students %}
			<div class="flip-card">
			<a href="{{'/profile/' + student.replace(' ', '')}}" style="text-decoration: none">
				<div class="flip-card-inner" style="border-radius: 10px; height: 250px; width: 200px; margin: 4px; background-color: #FFF4E0; margin: 20px; box-shadow: -0px 0px 50px rgba(200, 200, 200, 1); position: relative">
						<div class="flip-card-front">
							<div class="student-name" style="display: -webkit-flex; -webkit-flex-flow: row wrap; display: flex; flex-flow: row wrap; background-color: #393E46; height: 30%; top: 0px; border-top-right-radius: 6px; border-top-left-radius: 6px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; border: 1px #FFF; justify-content: center; align-items: center;">
								<h3 style="font-family: helvetica; font-size: 100%; line-height: 100%; color: #00ADB5; margin-bottom: 40px; text-align: center;">{{student}}</h3>
							</div>
							{% set ns = namespace(ranking_pic=false) %}
							{% for user in users_db if student == user['name'] %}
					              <img src={{ user['avatar'] }} style="height: 60px; width: 60px; position: absolute; top: 18%; margin-right: 35%;margin-left: 35%; border-radius: 50%">
					              {% set ns.ranking_pic = true %}
					        {% endfor %}
					        {% if not ns.ranking_pic %}
					                <img src="/static/images/placeholder.png" style="height: 60px; width: 60px; position: absolute; top: 18%; margin-right: 35%;margin-left: 35%; border-radius: 50%">
					        {% endif %}
							<div style="background-color: #F8B500; border-radius: 50%; height: 40px; width: 40px; border: 2px solid #FFF4E0; position: absolute; top: -15px; left: -20px; box-shadow: -0px 0px 20px rgba(100, 100, 100, 0.5);">
								<p style="font-family: helvetica neue; color: #FFF4E0; text-align: center; height: 100%; line-height: 100%; margin: 0; font-size: 20px; padding-top: 8px; vertical-align: middle; ">
									<i>{{loop.index}}</i>
								</p>
							</div>
							<div>
								<img src={{ dataplots }} style="height: 100%; width: 100%; padding-top:25px">
							</div>
						</div>
						<div class="flip-card-back">
							<div style="padding: 15px;">
								<cite style="font-family: helvetica">
								&quot;Nancy, I noticed at the meeting this morning that you got defensive when your data was challenged during your presentation. When Amy asked a question about your calculations, you were short with her and told her she needs to trust that you know how to do your job. When you responded to her that way, she shut down for the rest of the meeting and seemed angry. You really need her support, and I’m wondering if you’ll have it now. What are your thoughts?&quot;
								</cite>	
							</div>
					    </div>
				</div>
			</a>
			</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}