{% extends 'layout.html' %}

{% block body %}
<div style="display: -webkit-flex; -webkit-flex-flow: column; display: flex; flex-flow: column; width: 100%; height: auto; justify-content: flex-start;"> 
	<div style="display: -webkit-flex; -webkit-flex-flow: row; display: flex; flex-flow: row; width: 100%; height: auto; justify-content: space-between; background-color: #fff; box-shadow: -5px 5px 5px rgba(100, 100, 100, 0.1);">
		<span style="width: 20%; text-align: center; color: #555; padding-top: 10px; margin: 15px">
			Name
		</span>
		<span class="proj-tooltip" id="1" name="1" style="margin: 20px 5px; width: 5%; text-align: center; padding-top: 5px; margin: 15px 5px">
			Project<br>1
			<span class="proj-tooltiptext">Click to send email reminder</span>
		</span>
		<span class="proj-tooltip" id="2" name="2" style="margin: 20px 5px; width: 5%; text-align: center; padding-top: 5px; margin: 15px 5px">
			Project<br>2
			<span class="proj-tooltiptext">Click to send email reminder</span>
		</span>
		<span class="proj-tooltip" id="3" name="3" style="margin: 20px 5px; width: 5%; text-align: center; padding-top: 5px; margin: 15px 5px">
			Project<br>3
			<span class="proj-tooltiptext">Click to send email reminder</span>
		</span>
		<span class="proj-tooltip" id="4-1" name="4.1" style="margin: 20px 5px; width: 5%; text-align: center; padding-top: 5px; margin: 15px 5px">
			Project<br>4.1
			<span class="proj-tooltiptext">Click to send email reminder</span>
		</span>
		<span class="proj-tooltip" id="4-2" name="4.2" style="margin: 20px 5px; width: 5%; text-align: center; padding-top: 5px; margin: 15px 5px">
			Project<br>4.2
			<span class="proj-tooltiptext">Click to send email reminder</span>
		</span>
		<span class="proj-tooltip" id="4-3" name="4.3" style="margin: 20px 5px; width: 5%; text-align: center; padding-top: 5px; margin: 15px 5px">
			Project<br>4.3
			<span class="proj-tooltiptext">Click to send email reminder</span>
		</span>
		<span class="proj-tooltip" id="4-4" name="4.4" style="margin: 20px 5px; width: 5%; text-align: center; padding-top: 5px; margin: 15px 5px; margin-right: 50px">
			Project<br>4.4
			<span class="proj-tooltiptext">Click to send email reminder</span>
		</span>
	</div>
</div>
<div id="loading-gif" style="width: 100%; text-align: center;">
	<img src='{{ url_for("static", filename="images/loading.gif") }}' style="margin-top: 100px; height: 150px">
</div>
<div id="submissions-board" style="display: -webkit-flex; -webkit-flex-flow: column; display: flex; flex-flow: column; width: 100%; min-height: 300px; height: 500px; justify-content: flex-start; margin-top: 10px; overflow-y: scroll;  visibility: hidden;">
	{% for student in students%}
		<div style="display: -webkit-flex; -webkit-flex-flow: row; display: flex; flex-flow: row; width: 100%; height: 100px; justify-content: space-between; background-color: #fff; margin: 1px 0px;">
			<span id="name-{{ loop.index }}" style="width: 20%; text-align: center; color: #555; padding-top: 10px; margin: 15px"></span>
			<span id="project-1-1-{{ loop.index }}" style="width: 5%; text-align: center; color: #555; padding-top: 5px; margin: 15px 1px"></span>
			<span id="project-2-1-{{ loop.index }}" style="width: 5%; text-align: center; color: #555; padding-top: 5px; margin: 15px 1px"></span>
			<span id="project-3-1-{{ loop.index }}" style="width: 5%; text-align: center; color: #555; padding-top: 5px; margin: 15px 1px"></span>
			<span id="project-4-1-{{ loop.index }}" style="width: 5%; text-align: center; color: #555; padding-top: 5px; margin: 15px 1px"></span>
			<span id="project-4-2-{{ loop.index }}" style="width: 5%; text-align: center; color: #555; padding-top: 5px; margin: 15px 1px"></span>
			<span id="project-4-3-{{ loop.index }}" style="width: 5%; text-align: center; color: #555; padding-top: 5px; margin: 15px 1px"></span>
			<span id="project-4-4-{{ loop.index }}" style="width: 5%; text-align: center; color: #555; padding-top: 5px; margin: 15px 1px; margin-right: 50px"></span>
		</div>
	{% endfor %}
</div>
<script type="text/javascript">
	$( ".proj-tooltip" ).click(function(e) {
		$(this).html('<img src="/static/images/loading.gif" style="width: 30px; height: 30px;">')
		$.post('/sendreminder', {
			projectNum: $(this).attr('name')
		}).done(function(response) {
			let projectNum = response['projectNum']
			let text = 'Email reminder sent to ' + response['sentTo'] + ' students who have yet to complete reviews for Project ' + projectNum
			alert(text)

			switch(projectNum) {
				case '4.1':
					projectNum = '4-1'
					break
				case '4.2':
					projectNum = '4-2'
					break
				case '4.3':
					projectNum = '4-3'
					break
				case '4.4':
					projectNum = '4-4'
					break
				default:
					break
			}
			
			let query = '#' + projectNum
			console.log(query)
			$(query).html('Project<br>' + projectNum + '<span class="proj-tooltiptext">Click to send email reminder</span>')
		}).fail(function() {
			alert('Failed to send email reminder.')
			location.reload()
		})
	});

	$(function() {
		$.get('/getsubmissions').done(function(response) {
			for (let i = 0; i < response['class_submissions'].length; i++) {
				let name = String(response['class_submissions'][i]['name'])
				let proj11Size = String(response['class_submissions'][i]['submissions'][1]['teamSize'])
				let proj11Sub = String(response['class_submissions'][i]['submissions'][1]['submittedFor'])
				let proj21Size = String(response['class_submissions'][i]['submissions'][2]['teamSize'])
				let proj21Sub = String(response['class_submissions'][i]['submissions'][2]['submittedFor'])
				let proj31Size = String(response['class_submissions'][i]['submissions'][3]['teamSize'])
				let proj31Sub = String(response['class_submissions'][i]['submissions'][3]['submittedFor'])
				let proj41Size = String(response['class_submissions'][i]['submissions'][4.1]['teamSize'])
				let proj41Sub = String(response['class_submissions'][i]['submissions'][4.1]['submittedFor'])
				let proj42Size = String(response['class_submissions'][i]['submissions'][4.2]['teamSize'])
				let proj42Sub = String(response['class_submissions'][i]['submissions'][4.2]['submittedFor'])
				let proj43Size = String(response['class_submissions'][i]['submissions'][4.3]['teamSize'])
				let proj43Sub = String(response['class_submissions'][i]['submissions'][4.3]['submittedFor'])
				let proj44Size = String(response['class_submissions'][i]['submissions'][4.4]['teamSize'])
				let proj44Sub = String(response['class_submissions'][i]['submissions'][4.4]['submittedFor'])

				j = i + 1
				let nameQuery = '#name-' + String(j)
				let proj11Query = '#project-1-1-' + String(j)
				let proj21Query = '#project-2-1-' + String(j)
				let proj31Query = '#project-3-1-' + String(j)
				let proj41Query = '#project-4-1-' + String(j)
				let proj42Query = '#project-4-2-' + String(j)
				let proj43Query = '#project-4-3-' + String(j)
				let proj44Query = '#project-4-4-' + String(j)

				let proj11Text = proj11Sub + ' / ' + proj11Size
				let proj21Text = proj21Sub + ' / ' + proj21Size
				let proj31Text = proj31Sub + ' / ' + proj31Size
				let proj41Text = proj41Sub + ' / ' + proj41Size
				let proj42Text = proj42Sub + ' / ' + proj42Size
				let proj43Text = proj43Sub + ' / ' + proj43Size
				let proj44Text = proj44Sub + ' / ' + proj44Size

				let imageHTML = '<img src="/static/images/checked.png" style="width: 20px; margin: 0px; padding: 0px;">'
				if (proj11Sub == proj11Size && proj11Size > 0) { proj11Text = imageHTML };
				if (proj21Sub == proj21Size && proj12Size > 0) { proj21Text = imageHTML };
				if (proj31Sub == proj31Size && proj13Size > 0) { proj31Text = imageHTML };
				if (proj41Sub == proj41Size && proj41Size > 0) { proj41Text = imageHTML };
				if (proj42Sub == proj42Size && proj42Size > 0) { proj42Text = imageHTML };
				if (proj43Sub == proj43Size && proj43Size > 0) { proj43Text = imageHTML };
				if (proj44Sub == proj44Size && proj44Size > 0) { proj44Text = imageHTML };

				$(nameQuery).html(name)
				$(proj11Query).html(proj11Text)
				$(proj21Query).html(proj21Text)
				$(proj31Query).html(proj31Text)
				$(proj41Query).html(proj41Text)
				$(proj42Query).html(proj42Text)
				$(proj43Query).html(proj43Text)
				$(proj44Query).html(proj44Text)
			}
			$('#loading-gif').remove()
			$('#submissions-board').css('visibility', 'visible')
		}).fail(function() {
            alert('Failed to retrieve submissions records')
        });
	});
</script>
<style type="text/css">
	/* Tooltip text */
	.proj-tooltip .proj-tooltiptext {
	  visibility: hidden;
	  width: 150px;
	  background-color: black;
	  color: #fff;
	  text-align: center;
	  padding: 10px;
	  border-radius: 6px;
	  top: 5%;
	  margin-left: -79px;  /*Use half of the width (120/2 = 60), to center the tooltip */
	 
	  /* Position the tooltip text - see examples below! */
	  position: absolute;
	  z-index: 1;
	}

	/* Show the tooltip text when you mouse over the tooltip container */
	.proj-tooltip:hover .proj-tooltiptext {
	  visibility: visible;
	}

	.proj-tooltip:hover{
		color: #555;
	}

	.proj-tooltip:hover{
		cursor: pointer;
		color: #999;
		/*border-bottom: 1px solid #555;*/
	}

	.proj-tooltip .proj-tooltiptext::after {
	  content: " ";
	  position: absolute;
	  top: 100%; /* At the bottom of the tooltip */
	  left: 50%;
	  margin-left: -5px;
	  border-width: 5px;
	  border-style: solid;
	  border-color: black transparent transparent transparent;
	}
</style>
{% endblock %}